@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;700&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  transition: .3s all;
  font-family: 'Outfit', sans-serif;
}

.heading1 {
  font-size: 50px;
  color: #181818;
  font-weight: bold;
}

.heading3 {
  font-size: 30px;
  color: #474747;
}

.heading4 {
  font-size: 22px;
  color: #474747;
}

.paragrapgh {
  font-size: 14px;
  color: #757575;
}

.primary-btn {
  font-size: 20px;
  font-weight: bold;
  background: #FD6E0A;
  border-radius: 5px;
  border: 0;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #333;
}

.primary-color {
  color: #FD6E0A;

}

ul {
  list-style-type: none;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  background: #f6fff8;
}

section {
  margin: 130px 0;
}

/* *<===header section styles===>* */

.header {
  background-color: #FFF8F3;
  padding: 20px 10px;
  height: 850px;
  border-bottom: 3px solid #ddd;
  padding: 30px 150px;
  background-image: url('../images/header_bg.png'), url('../images/developer.png');
  background-position: right bottom, left;
  background-size: auto, 100px;
  background-repeat: no-repeat;
}

.header .sub-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .sub-nav ul {
  display: flex;

}

.sub-nav ul li {
  margin-right: 30px;
}

.sub-nav ul li a {
  font-size: 20px;
}

.sub-nav ul li a:hover {
  color: #FD6E0A;
}


.btn a {
  color: #fff;
  background: #FD6E0A;
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 20px;
}

.btn a:hover {
  background: #333;
}

.btn a i {
  font-size: 20px;
  color: white;
}

.header .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*flex-direction:column*/
  ;

}

.content .details .heading3 {
  font-size: 50px;
  padding-bottom: 10px;
}

.content .details .heading1 {
  font-size: 100px;
  font-weight: 700;
  margin-bottom: 15px;
}

.content .details .paragrapgh {
  font-size: 16px;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

.btns {
  display: flex;
  gap: 50px;
}

.outline-btn a {
  background: transparent;
  border: 2px solid #FD6E0A;
  color: #333;
}

.outline-btn a:hover {
  color: #FD6E0A;
  background: none;
  border-color: #181818;
}

.banner {
  position: relative;
  left: 100px;
  top: 80px;

}

/* *<===about section styles===>* */
main {
  max-width: 1150px;
  margin: 0 auto;
}

.heading-title {
  font-size: 60px;
  text-align: center;
  color: #333;
  margin: 20px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #FFF8F3;
  border: 3px solid #eee;
  border-radius: 5px;
}

.about .content {
  margin: 0 150px;
}

.content .paragrapgh {
  font-size: 17px;
  letter-spacing: 1px;
  font-style: italic;
  font-weight: 300;
}

.about .info {
  display: flex;
  gap: 40px;
  margin: 30px 0;
}

.about .details .paragrapgh {
  margin-bottom: 5px;
  font-size: 19px;
  font-weight: 400;
}

/* *<===skill section styles===>* */
.skill-container {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.skill .skill-desc {
  color: #474747;
  font-size: 18px;
  font-weight: 500;
  margin: 50px 0;
  text-align: center;
}

.skilled {
  /* border: 2px solid #333; */
  padding: 20px 30px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.skilled img {
  border-radius: 5px;
}

.skilled .heading3 {
  font-size: 20px;
  margin: 10px 0;
}

.skilled .paragrapgh {
  text-align: justify;
  margin-bottom: 20px;
  font-size: 16px;
}
/* *<===education section styles===>* */
.education .resume-content{
  display: flex;
  justify-content: space-between;
  gap:100px;
}
.education .education-info{
  /* border:3px solid red; */
  padding:7px;
  margin:30px 0;
  border-bottom:2px solid #757575;
  padding-bottom:20px;
}
.education .resume-content .heading1{
  font-size:26px;
  margin-top:70px;
  color:#333;
  letter-spacing:1px;
}
.resume-content .education-info .heading3{
  font-size:22px;
  margin:7px 0;
}
.resume-content .education-info .heading4{
  font-size:18px;
  margin:5px 0;
  color:#757575;
  margin-bottom:10px;
}
.resume-content .education-info .paragrapgh{
  font-size:14px;
  letter-spacing:1px;
  font-style: italic
}